In [1]:
a = 1

while(a<=10):
    print(a)
    a = a + 1

1
2
3
4
5
6
7
8
9
10

In [2]:
#sum the number

In [8]:
n = int(input('Enter Your Limit'))
starting_point = 0
counter = 1

while counter <= n:
    starting_point += counter
    counter += 1
starting_point

Enter Your Limit 5

15

In [1]:
number = int(input('Enter Your Number'))
factorial = 1
while number > 0 :
    factorial = factorial * number
    number -= 1
factorial

Enter Your Number 8

40320

In [ ]:
# Fibonacci Series

In [3]:
number = int(input('Enter The Number'))
a,b = 0,1
counter = 0
while counter < number:
    print(a)
    c = a + b
    a = b
    b = c
    counter += 1

Enter The Number 5

0
1
1
2
3

In [6]:
a,b = 0,1
for i in range(10):
    print(a)
    c = a + b
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34

In [10]:
s = 'Nikhil'

In [13]:
word = input('Enter Your Name')
reverse = ''
length = len(word)
while length > 0:
    reverse += word[length-1]
    length -= 1
print(reverse)

Enter Your Name Nikhil

lihkiN

In [ ]:
# print table of number

In [19]:
number = int(input('Enter The Number'))
counter = 1
while counter <= 10:
    result = number * counter
    print(number,'*',i,'=',result)
    counter += 1

Enter The Number 4

4 * 9 = 4
4 * 9 = 8
4 * 9 = 12
4 * 9 = 16
4 * 9 = 20
4 * 9 = 24
4 * 9 = 28
4 * 9 = 32
4 * 9 = 36
4 * 9 = 40

In [24]:
n = int(input('Enter The Number'))
i = 1
while i <= n:
    print(i)
    i += 1

Enter The Number 10

1
2
3
4
5
6
7
8
9
10

In [ ]:
# comprehensation

In [38]:
N = [12,3,4,68,9,2,86]

In [39]:
N

[12, 3, 4, 68, 9, 2, 86]

In [40]:
[i**2 for i in N]

[144, 9, 16, 4624, 81, 4, 7396]

In [44]:
N

[12, 3, 4, 68, 9, 2, 86]

In [45]:
[ i for i in N if i%2 == 0]

[12, 4, 68, 2, 86]

In [46]:
s = ['nikhil','aniket','sudesh']

In [48]:
[i.upper() for i in s ]

['NIKHIL', 'ANIKET', 'SUDESH']

In [50]:
[i.capitalize() for i in s ]

['Nikhil', 'Aniket', 'Sudesh']

In [51]:
[i.lower() for i in s ]

['nikhil', 'aniket', 'sudesh']

In [72]:
d = {
   'Name':'Nikhil',
    'age':34,
    'gender':'male'
}

In [75]:
d.items()

dict_items([('Name', 'Nikhil'), ('age', 34), ('gender', 'male')])

In [79]:
d

{'Name': 'Nikhil', 'age': 34, 'gender': 'male'}

In [81]:
# function in Pytohn

In [1]:
print('Nikhil')

Nikhil

In [2]:
l = [1,2,3,4,5]

In [3]:
len(l)

5

In [4]:
type(l)

list

In [5]:
def test():
    print('My Name Is Nikhil')
test()

My Name Is Nikhil

In [6]:
def func():
    pass

In [7]:
def test1():
    print('This is function in python')
test1()

This is function in python

In [12]:
def test2():
    return "this is my first return"
test2() + ' Nikhil'

'this is my first return Nikhil'

In [14]:
def test3():
    return 'Nikhil',43,87,3.6,[1,2,3,4]
test3()

('Nikhil', 43, 87, 3.6, [1, 2, 3, 4])

In [22]:
def test4(a,b,c):
    d = a + b / c
    return d 
test4(4,5,6)

4.833333333333333

In [23]:
def test6(a,b):
    return a + b
test6(4,5)

9

In [25]:
test6('Nikhil',' Lokare')

'Nikhil Lokare'

In [26]:
test6([1,2,3,4],[5,6,7,8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [1]:
l = [1,2,3,4,5,'Nikhil','lokare',[1,2,3,4,5,7,]]

In [32]:
l1 = []
for i in l:
    if(type(i) == int or type(i) == float):
        l1.append(i)

In [33]:
l1

[1, 2, 3, 4, 5]

In [34]:
def test8(l):
    l1 = []
    for i in l:
        if(type(i) == int):
            l1.append(i)
    return l1

In [35]:
l1

[1, 2, 3, 4, 5]

In [42]:
def test9(a):
    '''this is my first function '''
    l = []
    for i in  a:
        if type(i) == list:
            for j in i:
                l.append(j)
        else:
            if type(i) == int or type(i) == float:
                l.append(i)
    return l

In [43]:
test9(l)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 7]

In [44]:
len(l)

8

In [49]:
def test11(fname):
    print('My name is : ' + fname)
test11('Nikhil')

My name is : Nikhil

In [50]:
def test12(*nikhil):
    return nikhil

In [51]:
test12(54,57,68,6,4,344,3,45,689,7,6,857,435,24)

(54, 57, 68, 6, 4, 344, 3, 45, 689, 7, 6, 857, 435, 24)

In [62]:
def test13(*args,a):
    return args,a

In [63]:
test13(1,23,4,4,5,6, a = 54)

((1, 23, 4, 4, 5, 6), 54)

In [1]:
def test14(c,d,a = 34, b = 1):
    return a,b,c,d

In [2]:
test14(4,5)

(34, 1, 4, 5)

In [3]:
test14(6,7,a = 432,b = 43842)

(432, 43842, 6, 7)

In [ ]:
test15(a = [1,2,3,4], b = 'Nikhil')